<p id="notice"><%= notice %></p>

<p>
  <strong>Team1:</strong>
  <%= @game.team1 %>
</p>

<p>
  <strong>Team2:</strong>
  <%= @game.team2 %>
</p>

<p>
  <strong>Result:</strong>
  <%= @game.result %>
</p>

<p>
  <strong>Team1 score:</strong>
  <%= @game.team1_score %>
</p>

<p>
  <strong>Team2 score:</strong>
  <%= @game.team2_score %>
</p>

<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Stadium:</strong>
  <%= @game.stadium %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
